* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  border: border-box;
}
#navbar {
  height: 60px;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 11px;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
 
  
}
#nav-logo {
  height: 50px;
  width: 150px;
}
#navlogo {
  background-image: url("amazon_logo.png");
  height: 50px;
  width: 130px;
  background-size: cover;
}
#deliveryicon {
  display: flex;
  font-size: 14px;
}
#mapicon {
  margin-right: 4px;
}
#deliveryto {
  color: #cccccc;
  font-size: 12px;
  margin-left: 15px;
}

.border {
  border: 1px solid transparent;
  padding: 1px;
}
.border:hover {
  border: 1px solid white;
  padding: 1px;
}
#selection {
  color: #0f1111;
  background-color: #9aa6b2;
  width: 50px;
  height: 36px;
  padding: 4px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  padding: auto;
}
#input_sea {
  height: 34px;
  width: 800px;
  margin-left: -2px;
  border: none;
  padding-left: 6px;
}
#input_sea_media {
  height: 34px;
  width: 100%;
  margin-left: -2px;
  border: none;
  padding-left: 6px;
}

#panel2mediaquery
{
  background-color:#37475a;
  padding: 2px 10px;
 
  display: none;
}
#panelmediaquery
{
  background-color: #000000;
  padding: 2px 10px;
  display: none;
}
#panel3mediaquery
{
  background-color: #000000;
  padding: 2px 10px;
  display: none;
}
#sea_bar {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}
#sea_bar_media {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  
  
}
#sea_bar:hover {
  border: 2px solid goldenrod;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#sea_bar_media:hover {
  border: 2px solid goldenrod;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#secondsea {
  width: 50px;
  height: 36px;
  background-color: #ffffff;
  color: #000000;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  background-color: goldenrod;
}
#secondsea_media {
  width: 50px;
  height: 36px;
  background-color: #ffffff;
  color: #000000;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  background-color: goldenrod;
}
#seaicon {
  margin-top: 10px;
}
#selectlanguage {
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 14px;

  height: 36px;
}
#hello_sir {
  font-size: 12px;
}
#account {
  font-size: 14px;
}
#return {
  height: 36px;
}
#returns {
  font-size: 12px;
}
#orders {
  font-size: 14px;
}
#cart {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  font-weight: bolder;
}
.a {
  text-decoration: none;
  color: white;
}
#panel {
  display:flex;
  color: #ffffff;
  font-size: 14px;
  background-color: #222f3d;
  padding: 8px 9px;
  align-items: center;
  height: 25px;
  justify-content: space-evenly;
  margin-top: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
 
 
 
}


#items {
  width: 80%;
}
#ul {
  display: flex;
}
.li {
  list-style: none;
  margin-right: 30px;
}
#deal {
  align-items: end;
  font-size: 16px;
  font-weight: bolder;
}
.borderpanel {
  border: 1px solid transparent;
  padding: 5px;
}
.borderpanel:hover {
  border: 1px solid white;
  padding: 5px;
}
#carousel {
  background-image: url("https://m.media-amazon.com/images/I/71VcGrxQRBL._SX3000_.jpg");
  height: 350px;

  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 5%;
}
.internalcontent {
  font-size: 14px;
  color: #000000;
}
body {
  background-color: #ffb6c1;
}
#clickable {
  background-color: white;
  width: 90%;
  height: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
#click {
  text-decoration: none;
}
#cards {
  display: flex;
  justify-content: space-evenly;

  margin: 20px;
  border: none;
  flex-wrap: wrap;
}
#imaa
{
  border: 2px transparent solid;
  padding: 2px;

}
#imaa:hover
{
  border: 2px white solid;
}

.box {
  width: 306.66px;
  padding: 20px 15px;
  margin: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h3 {
  color: #0f1111;
  margin: 5px 4px;
  display: flex;
}
.boxim {
  width: 300px;
  height: 304px;
  margin: 5px 4px;
}
.anspan {
  color: #2162a1;
  font-size: 14px;
  background-color: white;
  margin: 5px 4px;
}
.anspan:hover {
  color: #000000;
  margin: 5px 4px;
}
#card4 {
  background-size: cover;
}
.inimm {
  display: flex;
  flex-wrap: wrap;
}
.imm {
  width: 140px;
  height: 102px;
  background-size: cover;
}
.distance {
  margin-left: 75px;
}
.disn {
  margin-top: 30px;
}
.space {
  margin-top: 5px;
}
#backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  background-color: #37475a;
  height: 49px;
}
footer {
  margin-top: 15px;
  background-color: #303952;
}
#backtotop:hover {
  background-color: #596275;
}
.footpanellist {
  list-style: none;
}
.footpanellist:hover {
  text-decoration: underline 2px white;
}
#footpanel {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px;
  font-size: 14px;
  line-height: 35px;
  color: #dddddd;
}
h4 {
  font-size: 18px;
}
#footpanel2 {
  display: flex;

  align-items: center;
  border-top: 1px solid white;
  padding: 20px;
  justify-content: space-evenly;
}
#footerlo {
  background-image: url("amazon_logo.png");
  height: 30px;
  width: 80px;
  background-size: cover;
}
.otp {
  color: white;
}
.otp2 {
  color: #37475a;
  font-size: 15px;
}
#blo {
  display: flex;

  align-items: center;
}
.panelselectlist {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.borderm {
  border-radius: 2px;
  border: 1px solid white;
  padding: 4px;
}
#footerpanel3 {
  background-color: #000000;
  height: 73px;
  font-size: 12px;
  padding: 15px;
  line-height: 20px;
}
.lists {
  color: #ffffff;
}
#listoffooter {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lists:hover {
  text-decoration: underline 1px solid white;
}
#copyfooter {
  color: #ffffff;
  display: flex;
  justify-content: center;
}


#responsive
{
  height: 60px;
  background-color: #000000;
  color: white;
  display: none;
  align-items: center;
  padding: 0px 11px;
 
  justify-content: space-between;
  align-items: center;
}
#amazonlo
{
  background-image: url("amazon_logo.png");
  height: 20px;
  width: 65px;
  background-size: contain;
  display: flex;
  
 
 
}
#start
{
  display: flex;
  font-size: 20px;
  align-items: center;
}
.bordermk:hover
{
  border: 2px solid white;
  padding: 4px;
}
#end
{
  display: flex;
  font-size: 20px;
  align-items: center;
 
}
#endend
{
  display: flex;
  font-size: 20px;
  align-items: center;
  
}
.bordermk
{
  border: 2px solid transparent;
  padding: 4px;
}
@media screen and (max-width: 1400px)
{
#clickable
{
  display: none;
}
#navbar
{
  display: none;
}
#responsive
{
  display: flex;
}
#panelmediaquery
{
  display: flex;
}
#panel2mediaquery
{
  display: flex;
}
#panel3mediaquery
{
  display: flex;
}
#panel
{
  display: none;
}
#carousel
{
  margin-top: 0px;
  width: auto;
}
}
